<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">

  <channel>

    <title>SEAOO</title>
    <link>http://seaoo.ca</link>
    <language>fr-CA</language>
    <description>Soyez automatiquement informé lorsque de nouveaux appels d'offres sont publiés sur seao.ca</description>
    <atom:link href="<%= @permalink %>" rel="self" type="application/rss+xml" />

    <% @notices.each do |notice| %>
    <item>
      <guid><%= notice.itemId %></guid>
      <pubDate><%= notice.dateRfc %></pubDate>
      <title><%= notice.Title %></title>
      <link><%= notice.url %></link>
      <description><%= notice.description %></description>
    </item>
    <% end %>

  </channel>

</rss>